<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- JavaBean -->
<!--    <bean id="myCoach" class="javaBeans.TrackCoach">-->
<!--    <bean id="myCoach" class="javaBeans.BaseballCoach">-->
<!--    </bean>-->
    <!-- End JavaBean -->

    <!-- Dependency Injection -->
    <!--  Creates the fortune dependency -->
    <bean id="myFortuneService" class="DependencyInjection.HarshFortuneService">
    </bean>

    <!--  Creates the coach object and inject fortune dependency -->
    <bean id="myCoach" class="DependencyInjection.BaseballCoach">
        <constructor-arg ref="myFortuneService" />
    </bean>
    <!-- End Dependency Injection -->



</beans>





