<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- JavaBean -->
<!--    <bean id="myCoach" class="javaBeans.TrackCoach">-->
<!--    <bean id="myCoach" class="javaBeans.BaseballCoach">-->
<!--    </bean>-->
    <!-- End JavaBean -->

    <!-- Dependency Injection -->

        <!-- CONSTRUCTOR INJECTION -->
        <!-- creates the dependency -->
<!--        <bean id="headCoach_fortune" class="Dependency_Injection.HarshFortuneService">-->
<!--        </bean>-->

        <!-- Inject the dependency through the constructor -->
<!--        <bean id="headCoach" class="Dependency_Injection.BaseballCoach">-->
<!--            <constructor-arg ref="headCoach_fortune" />-->
<!--        </bean>-->

        <!-- SETTER INJECTION -->
        <!-- creates the dependency -->
<!--        <bean id="headCoach2_fortune" class="Dependency_Injection.HappyFortuneService">-->
<!--        </bean>-->

        <!-- Inject the dependency through the setter method -->
<!--        <bean id="headCoach2" class="Dependency_Injection.TrackCoach">-->
<!--            <property name="fortuneService" ref="headCoach2_fortune" />-->
<!--        </bean>-->

    <!-- End Dependency Injection -->





    <!-- Injecting Literal Values -->
    <bean id="baseballCoach" class="literal_values.BaseballCoach">
        <property name="emailAddress" value="hitDingers@gmail.com"/>
        <property name="teamName" value="Bomb Squad"/>
    </bean>
    <!-- END OF Injecting Literal Values -->


</beans>





